/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf) format("ttf"); }

.body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  min-width: 320px;
  margin: 0 auto;
  background-color: #fff; }
  @media (min-width: 1280px) {
    .body {
      font-size: 14px;
      width: 1280px;
      background-color: #fff; } }

.burger-button {
  position: relative;
  width: 19px;
  height: 17px;
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  background-image: url("../img/icon-sprite.png");
  background-position: -10px -10px; }

.button {
  display: flex;
  width: 154px;
  height: 40px;
  border: 0;
  border-radius: 2px;
  background-color: #01abfb;
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer; }

@media (min-width: 1280px) {
  .button {
    width: 201px;
    height: 48px;
    font-size: 16px; } }

.info-section {
  background-color: #ffca06;
  text-align: center;
  padding-top: 69px;
  padding-bottom: 55px; }

.info-section__title {
  margin: 0;
  font-size: 20px;
  color: #2c2c2c; }
  @media (min-width: 1280px) {
    .info-section__title {
      font-size: 30px; } }

.info-section__item {
  position: relative; }
  .info-section__item::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .info-section__item--pos-automat {
    padding-top: 99px; }
    .info-section__item--pos-automat::before {
      width: 40px;
      height: 45px;
      top: 44px;
      left: 51%;
      background-image: url("../img/mobile-pos-automat.png"); }
  .info-section__item--money-hand {
    padding-top: 95px; }
    .info-section__item--money-hand::before {
      width: 46px;
      height: 36px;
      top: 48px;
      background-image: url("../img/mobile-money-hand.png"); }
  .info-section__item--street-terminal {
    padding-top: 105px; }
    .info-section__item--street-terminal::before {
      width: 32px;
      height: 43px;
      top: 53px;
      background-image: url("../img/mobile-street-terminal.png"); }
  .info-section__item--plane-table {
    padding-top: 110px; }
    .info-section__item--plane-table::before {
      width: 32px;
      height: 44px;
      top: 55px;
      background-image: url("../img/mobile-plane-table.png"); }
  .info-section__item--cellphone {
    padding-top: 118px; }
    .info-section__item--cellphone::before {
      width: 49px;
      height: 44px;
      top: 57px;
      left: 52.7%;
      background-image: url("../img/mobile-cellphone.png"); }
  .info-section__item--credit-card {
    padding-top: 103px; }
    .info-section__item--credit-card::before {
      width: 51px;
      height: 40px;
      top: 55px;
      background-image: url("../img/mobile-credit-card.png"); }

.info-section__item-title {
  font-size: 16px;
  margin: 0; }

.info-section__item-description {
  margin-top: 5px;
  margin-bottom: 0; }

.info-section__tooltip-text-style {
  display: none; }

.info-section__button {
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 1280px) {
  .info-section {
    padding-top: 67px;
    padding-bottom: 80px; }
  .info-section__item-list {
    display: flex;
    flex-wrap: wrap;
    width: 68.4%;
    justify-content: space-between;
    margin-left: 15.7%;
    margin-right: 15.9%; }
  .info-section__item {
    width: 25.1%;
    padding-top: 182px; }
    .info-section__item--pos-automat::before {
      width: 74px;
      height: 82px;
      top: 83px;
      background-image: url("../img/desktop-pos-automat.png"); }
    .info-section__item--money-hand::before {
      width: 84px;
      height: 64px;
      top: 92px;
      background-image: url("../img/desktop-money-hand.png"); }
    .info-section__item--street-terminal::before {
      width: 60px;
      height: 77px;
      top: 85px;
      background-image: url("../img/desktop-street-terminal.png"); }
    .info-section__item--plane-table {
      padding-top: 210px; }
      .info-section__item--plane-table::before {
        width: 60px;
        height: 79px;
        top: 105px;
        background-image: url("../img/desktop-plane-table.png"); }
    .info-section__item--cellphone {
      padding-top: 210px; }
      .info-section__item--cellphone::before {
        width: 90px;
        height: 80px;
        top: 105px;
        left: 59%;
        background-image: url("../img/desktop-cellphone.png"); }
    .info-section__item--credit-card {
      padding-top: 210px; }
      .info-section__item--credit-card::before {
        width: 94px;
        height: 72px;
        top: 110px;
        background-image: url("../img/desktop-credit-card.png"); }
  .info-section__tooltip-block {
    display: none;
    position: absolute;
    width: 234px;
    padding-top: 18px;
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom: 16px;
    border-radius: 2px;
    box-sizing: border-box;
    top: 30px;
    left: 80px;
    background-color: #ffffff;
    box-shadow: -5px 0px 7px 0px rgba(213, 213, 213, 0.73), 5px 0px 7px 0px rgba(213, 213, 213, 0.73), 0px -5px 7px 0px rgba(213, 213, 213, 0.73), 0px 5px 7px 0px rgba(213, 213, 213, 0.73);
    z-index: 100; }
  .info-section__tooltip-triangle {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    top: -97px; }
    .info-section__tooltip-triangle::after {
      content: "";
      position: absolute;
      width: 180px;
      height: 80px;
      background: #fff;
      transform: rotate(35deg) scale(0.6);
      top: 85px;
      left: -75px;
      box-shadow: -5px 0px 17px 0px rgba(213, 213, 213, 0.73); }
  .info-section__tooltip-text-style {
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: #424242;
    text-align: left;
    margin: 0; }
  .info-section__item-description--delivery-places:hover >
.info-section__tooltip-block {
    display: block; }
  .info-section__item-title {
    font-size: 22px; }
  .info-section__item-description {
    display: inline-block;
    margin-top: 11px; }
    .info-section__item-description--delivery-places {
      position: relative; }
      .info-section__item-description--delivery-places::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        top: 1px;
        right: -30px;
        background-image: url("../img/icon-sprite.png");
        background-position: -49px -10px; }
  .info-section__button {
    margin-top: 115px;
    margin-left: auto;
    margin-right: auto; } }

.main-header {
  height: 41px; }

.main-header__logo {
  display: none; }

.main-header__menu-button {
  padding: 12px 0;
  margin-left: 21px; }

@media (min-width: 1280px) {
  .main-header {
    display: flex;
    min-height: 73px;
    align-items: center;
    background-color: #373737; }
  .main-header__logo {
    display: block;
    margin-left: 40px; }
  .main-header__menu-button {
    display: none; } }

.main-menu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #373737;
  z-index: 10; }
  .main-menu--no-js {
    display: block; }

.main-menu__list {
  padding: 0;
  margin: 0; }

.main-menu__item {
  min-height: 40px;
  font-size: 14px;
  line-height: 40px;
  list-style-type: none;
  border-bottom: 1px solid #b0b0b0; }

.main-menu__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase; }

.main-menu__button {
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto; }

.main-menu__user-block {
  display: none; }

.main-menu__my-order {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase; }

.main-menu__modal-content-show {
  display: block;
  animation: bounce 0.6s; }

@media (min-width: 1280px) {
  .main-menu {
    display: flex;
    position: static;
    align-items: center;
    width: auto;
    height: 73px;
    text-align: left; }
  .main-menu__list {
    margin-left: 40px; }
  .main-menu__item {
    display: inline-block;
    border-bottom: 0;
    margin-right: 22px; }
    .main-menu__item--three-dots {
      position: relative;
      font-size: 15px; }
      .main-menu__item--three-dots::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 4px;
        top: 50%;
        bottom: 50%;
        left: 0px;
        transform: translateY(-50%);
        background-image: url("../img/icon-sprite.png");
        background-position: -150px -10px; }
  .main-menu__link--three-dots {
    color: #373737; }
  .main-menu__button {
    display: none; }
  .main-menu__user-block {
    display: block;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 32px;
    margin-left: auto;
    margin-right: 40px; }
  .main-menu__my-order {
    margin-right: 8px; }
  .main-menu__login {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    width: 76px;
    height: 32px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    text-align: center; } }

.promo-section {
  padding-top: 40px;
  padding-bottom: 43px; }

.promo-section__title {
  margin: 0;
  font-size: 20px;
  color: #2c2c2c;
  text-align: center; }
  @media (min-width: 1280px) {
    .promo-section__title {
      font-size: 30px; } }

.promo-section__offers-list {
  margin-top: 50px;
  padding-left: 18.4%;
  padding-right: 10.9%; }

.promo-section__offers-item {
  position: relative;
  font-size: 13px;
  margin-bottom: 25px;
  list-style-type: none; }
  .promo-section__offers-item:last-child {
    margin-bottom: 39px; }
  .promo-section__offers-item::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 9px;
    top: 4px;
    left: -21px;
    background-image: url("../img/icon-sprite.png");
    background-position: -117px -10px; }

.promo-section__tooltip-text-style {
  display: none; }

.promo-section__toggle-container {
  display: flex;
  max-width: 246px;
  margin-left: auto;
  margin-right: auto; }

.promo-section__toggle-button {
  width: 123px;
  min-height: 32px;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  color: #212121;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  cursor: pointer; }
  .promo-section__toggle-button:first-child {
    border-right: 0px;
    border-radius: 2px 0 0 2px; }
  .promo-section__toggle-button:last-child {
    border-left: 0;
    border-radius: 0 2px 2px 0; }

.promo-section__radio-button {
  display: none; }

.promo-section__toggle-button--checked {
  width: 124px;
  min-height: 32px;
  border: 1px solid #ffd41e;
  background-color: #ffd41e; }

.promo-section__features-block {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto; }
  .promo-section__features-block--application {
    display: flex; }
  .promo-section__features-block--site {
    display: none; }

.promo-section__feature {
  position: relative;
  font-size: 14px;
  min-width: 60px;
  line-height: 22px;
  text-align: center;
  color: #424242;
  padding-top: 88px; }
  .promo-section__feature--airline::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 35px;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/mobile-airplane.png"); }
  .promo-section__feature--train::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 37px;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/mobile-train.png"); }
  .promo-section__feature--house::before {
    content: "";
    position: absolute;
    display: block;
    width: 41px;
    height: 38px;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/mobile-house.png"); }

.promo-section__feature-anti-br {
  display: inline-block; }

.promo-section__feature-big-font {
  font-size: 22px; }
  .promo-section__feature-big-font--site {
    display: none; }

.promo-section__feature-hidden-on-mobile {
  display: none; }

.promo-section__button {
  margin-top: 31px;
  margin-left: auto;
  margin-right: auto; }

.promo-section__info-quote {
  position: relative;
  margin-top: 36px;
  margin-bottom: 0;
  margin-left: 18.4%;
  margin-right: 15.0%; }
  .promo-section__info-quote::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: -21px;
    background-image: url("../img/icon-sprite.png");
    background-position: -84px -10px; }

@media (min-width: 1280px) {
  .promo-section {
    padding-top: 60px;
    padding-bottom: 70px; }
  .promo-section__offers-list {
    margin-top: 67px;
    width: 550px;
    padding-left: 29.6%;
    padding-right: 32%; }
  .promo-section__offers-item {
    font-size: 16px;
    margin-bottom: 22px; }
    .promo-section__offers-item--any-places {
      position: relative; }
      .promo-section__offers-item--any-places::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        top: 2px;
        right: 0;
        background-image: url("../img/icon-sprite.png");
        background-position: -49px -10px; }
    .promo-section__offers-item:last-child {
      margin-bottom: 49px; }
    .promo-section__offers-item::before {
      width: 16px;
      height: 13px;
      left: -30px;
      background-image: url("../img/icon-sprite.png");
      background-position: -225px -10px; }
  .promo-section__offers-tooltip {
    display: none;
    position: absolute;
    top: 30px;
    right: -205px;
    width: 234px;
    padding-top: 18px;
    padding-left: 15px;
    padding-bottom: 16px;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: -5px 0px 7px 0px rgba(213, 213, 213, 0.73), 5px 0px 7px 0px rgba(213, 213, 213, 0.73), 0px -5px 7px 0px rgba(213, 213, 213, 0.73), 0px 5px 7px 0px rgba(213, 213, 213, 0.73);
    z-index: 100; }
  .promo-section__tooltip-triangle {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    top: -97px; }
    .promo-section__tooltip-triangle::after {
      content: "";
      position: absolute;
      width: 180px;
      height: 80px;
      background: #fff;
      transform: rotate(35deg) scale(0.6);
      top: 85px;
      left: -75px;
      box-shadow: -5px 0px 17px 0px rgba(213, 213, 213, 0.73); }
  .promo-section__tooltip-text-style {
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: #424242;
    margin: 0; }
  .promo-section__offers-item--any-places:hover >
.promo-section__offers-tooltip {
    display: block; }
  .promo-section__features-block {
    width: 62%; }
  .promo-section__feature {
    font-size: 16px;
    min-width: 144px;
    padding-top: 128px; }
    .promo-section__feature--airline::before {
      width: 80px;
      height: 61px;
      top: 49px;
      background-image: url("../img/desktop-airplane.png"); }
    .promo-section__feature--train::before {
      width: 54px;
      height: 64px;
      top: 48px;
      background-image: url("../img/desktop-train.png"); }
    .promo-section__feature--house::before {
      width: 71px;
      height: 66px;
      top: 45px;
      background-image: url("../img/desktop-house.png"); }
  .promo-section__feature-big-font {
    font-size: 32px; }
    .promo-section__feature-big-font--application {
      display: none; }
    .promo-section__feature-big-font--site {
      display: inline-block; }
  .promo-section__feature-hidden-on-mobile {
    display: block; }
  .promo-section__button {
    margin-top: 39px; }
  .promo-section__info-quote {
    width: 31.6%;
    margin-top: 38px;
    margin-left: 33.9%;
    margin-right: 34.5%; }
    .promo-section__info-quote::before {
      width: 15px;
      height: 15px;
      top: 0;
      left: -25px;
      background-image: url("../img/icon-sprite.png");
      background-position: -190px -10px; } }
