$basic-font-family: "Roboto", "Arial", sans-serif;

$mobile-content-width: 320px;
$desktop-content-width: 1280px;

$main-bg-color: #ffd41e;
$main-bg-btn-color: #01abfb;

$desktop-widths: "(min-width: 1280px)";
