//настройки шрифта
$basic-font-family: "Roboto", "Arial", sans-serif;
$header-font-size: 14px;


$mobile-content-width: 320px;
$desktop-content-width: 1280px;

//единое место смены брендовых цветов
$main-bg-color: #ffca06;
$main-bg-toggle-btn-color: #ffd41e;
$main-bg-btn-color: #01abfb;
$main-bg-header-color: #373737;

$desktop-widths: "(min-width: 1280px)";
