.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
Thumbs.db

node_modules/.bin/acorn
*.cmd
node_modules/.bin/browser-sync
node_modules/.bin/buble
*.json
*.md
*.crt
*.pfx
*.txt
*.tmpl
*.html
*.yml
*.npmignore
*.png
*.conf
node_modules/extsprintf/Makefile
*.targ
*.ts
*.css
*.babelrc
*.jsx
*.map
*.ico
node_modules/.bin/dev-ip
node_modules/.bin/har-validator
*.gitkeep
*.eot
*.svg
*.ttf
*.woff
*.woff2
*.gif
*.sh
*.scss
*.csr
*.key
*.less
*.pug
*.gz
*.lock
*.tsx
*.jshintrc
*.editorconfig
*.tern-project
*.keep
*.tern-port
*.eslintrc
*.markdown
*.patch
*.in
*.xml
