.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
Thumbs.db

node_modules/
*.cmd
*.json
*.crt
*.pfx
*.txt
*.tmpl
*.yml
*.npmignore
*.conf
*.targ
*.ts
*.babelrc
*.jsx
*.map
*.ico
*.gitkeep
*.eot
*.gif
*.sh
*.scss
*.csr
*.key
*.pug
*.gz
*.lock
*.tsx
*.jshintrc
*.tern-project
*.keep
*.tern-port
*.eslintrc
*.markdown
*.patch
*.in
*.xml
