.info-section {
  background-color: $main-bg-color;
  text-align: center;
  padding-top: 69px;
  padding-bottom: 55px;
}

.info-section__title {
  @include title;

}

.info-section__item {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
  }

  &--pos-automat {
  padding-top: 99px;

    &::before {
      width: 40px;
      height: 45px;

      top: 44px;
      left: 51%;
      background-image: url("../img/mobile-pos-automat.png");
    }
  }

  &--money-hand {
    padding-top: 95px;

    &::before {
      width: 46px;
      height: 36px;

      top: 48px;
      background-image: url("../img/mobile-money-hand.png");
    }
  }

  &--street-terminal {
    padding-top: 105px;

    &::before {
      width: 32px;
      height: 43px;

      top: 53px;
      background-image: url("../img/mobile-street-terminal.png");
    }
  }

  &--plane-table {
    padding-top: 110px;

    &::before {
      width: 32px;
      height: 44px;

      top: 55px;
      background-image: url("../img/mobile-plane-table.png");
    }
  }

  &--cellphone {
    padding-top: 118px;

    &::before {
      width: 49px;
      height: 44px;

      top: 57px;
      left: 52.7%;
      background-image: url("../img/mobile-cellphone.png");
    }
  }

  &--credit-card {
    padding-top: 103px;

    &::before {
      width: 51px;
      height: 40px;

      top: 55px;
      background-image: url("../img/mobile-credit-card.png");
    }
  }
}

.info-section__item-title {
  font-size: 16px;
  margin: 0;
}

.info-section__item-description {
  margin-top: 5px;
  margin-bottom: 0;
}

.info-section__tooltip-text-style {
  display: none;
}

.info-section__button {
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
}

@media #{$desktop-widths} {
  .info-section {
    padding-top: 67px;
    padding-bottom: 80px;
  }

  .info-section__item-list {
    display: flex;
    flex-wrap: wrap;
    width: 68.4%;
    justify-content: space-between;
    margin-left: 15.7%;
    margin-right: 15.9%;
  }

  .info-section__item {
    width: 25.1%;
    padding-top: 182px;

    &--pos-automat {


      &::before {
        width: 74px;
        height: 82px;

        top: 83px;
        background-image: url("../img/desktop-pos-automat.png");
      }
    }

    &--money-hand {

      &::before {
        width: 84px;
        height: 64px;

        top: 92px;
        background-image: url("../img/desktop-money-hand.png");
      }
    }

    &--street-terminal {

      &::before {
        width: 60px;
        height: 77px;

        top: 85px;
        background-image: url("../img/desktop-street-terminal.png");
      }
    }

    &--plane-table {
      padding-top: 210px;

      &::before {
        width: 60px;
        height: 79px;

        top: 105px;
        background-image: url("../img/desktop-plane-table.png");
      }
    }

    &--cellphone {
      padding-top: 210px;

      &::before {
        width: 90px;
        height: 80px;

        top: 105px;
        left: 59%;
        background-image: url("../img/desktop-cellphone.png");
      }
    }

    &--credit-card {
      padding-top: 210px;

      &::before {
        width: 94px;
        height: 72px;

        top: 110px;
        background-image: url("../img/desktop-credit-card.png");
      }
    }
  }

  //TOOLTIP
  ///////////////////////////////////////////////

  .info-section__tooltip-block {
    display: none;
    position: absolute;
    width: 234px;
    padding-top: 18px;
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom: 16px;
    border-radius: 2px;
    box-sizing: border-box;

    top: 30px;
    left: 80px;

    background-color: #ffffff;
    box-shadow: -5px 0px 7px 0px rgba(213, 213, 213, 0.73),
                5px 0px 7px 0px rgba(213, 213, 213, 0.73),
                0px -5px 7px 0px rgba(213, 213, 213, 0.73),
                0px 5px 7px 0px rgba(213, 213, 213, 0.73);
    z-index: 100;
  }

  .info-section__tooltip-triangle {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    top: -97px;


    &::after {
      content: "";
      position: absolute;
      width: 180px;
      height: 80px;
      background: #fff;
      transform: rotate(35deg) scale(0.6);
      top: 85px;
      left: -75px;
      box-shadow: -5px 0px 17px 0px rgba(213, 213, 213, 0.73);
    }
  }

  .info-section__tooltip-text-style {
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: #424242;
    text-align: left;
    margin: 0;
  }

  .info-section__item-description--delivery-places:hover >
  .info-section__tooltip-block {
    display: block;
  }

//////////////////////////////////////////////////////////////////

  .info-section__item-title {
    font-size: 22px;
  }

  .info-section__item-description {
    display: inline-block;
    margin-top: 11px;

    &--delivery-places {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;

        top: 1px;
        right: -30px;
        background-image: url("../img/icon-sprite.png");
        background-position: -49px -10px;
      }
    }
  }

  .info-section__button {
    margin-top: 115px;
    margin-left: auto;
    margin-right: auto;
  }
}
