.main-header {
  height: 41px;
}

.main-header__logo {
  display: none;
}

.main-header__menu-button {
  padding: 12px 0;
  margin-left: 21px;
}

@media #{$desktop-widths} {
  .main-header {
    display: flex;
    min-height: 73px;
    align-items: center;
    background-color: $main-bg-header-color;
  }

  .main-header__logo {
    display: block;
    margin-left: 40px;
  }

  .main-header__menu-button {
    display: none;
  }

}
