.promo-section {
  padding-top: 40px;
  padding-bottom: 43px;
}

.promo-section__title {
  @include title;
  text-align: center;

}

.promo-section__offers-list {
  margin-top: 50px;
  padding-left: 18.4%;
  padding-right: 10.9%;
}

.promo-section__offers-item {
  position: relative;
  font-size: 13px;
  margin-bottom: 25px;
  list-style-type: none;

  &:last-child {
  margin-bottom: 39px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 9px;

    top: 4px;
    left: -21px;
    background-image: url("../img/icon-sprite.png");
    background-position: -117px -10px;
  }
}

.promo-section__tooltip-text-style {
  display: none;
}

.promo-section__toggle-container {
  display: flex;
  max-width: 246px;
  margin-left: auto;
  margin-right: auto;
}

.promo-section__toggle-button {
  width: 123px;
  height: 32px;
  // background-color: transparent;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  color: #212121;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  cursor: pointer;

  &:first-child {
    border-right: 0px;
    border-radius: 2px 0 0 2px;
  }

  &:last-child {
    border-left: 0;
    border-radius: 0 2px 2px 0;
  }
}

.promo-section__radio-button {
  display: none;
}

.promo-section__toggle-button--checked {
  width: 124px;
  height: 32px;
  border: 1px solid $main-bg-toggle-btn-color;
  background-color: $main-bg-toggle-btn-color;
}

.promo-section__features-block {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;

  &--application {
    display: flex;
  }

  &--site {
    display: none;
  }
}

.promo-section__feature {
  position: relative;
  font-size: 14px;
  min-width: 60px;
  line-height: 22px;
  text-align: center;
  color: #424242;
  padding-top: 88px;

  &--airline::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 35px;

    top: 37px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/mobile-airplane.png");
  }

  &--train::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 37px;

    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/mobile-train.png");
  }

  &--house::before {
    content: "";
    position: absolute;
    display: block;
    width: 41px;
    height: 38px;

    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/mobile-house.png");
  }
}

.promo-section__feature-anti-br {
  display: inline-block;
}

.promo-section__feature-big-font {
  font-size: 22px;

  &--site {
    display: none;
  }
}

.promo-section__feature-hidden-on-mobile {
  display: none;
}

.promo-section__button {
  margin-top: 31px;
  margin-left: auto;
  margin-right: auto;
}

.promo-section__info-quote {
  position: relative;
  margin-top: 36px;
  margin-bottom: 0;
  margin-left: 18.4%;
  margin-right: 15.0%;

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;

    top: 0;
    left: -21px;
    background-image: url("../img/icon-sprite.png");
    background-position: -84px -10px;
  }
}

@media #{$desktop-widths} {
  .promo-section {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .promo-section__offers-list {
    margin-top: 67px;
    width: 550px;

    padding-left: 29.6%;
    padding-right: 32%;
  }

  .promo-section__offers-item {
    font-size: 16px;
    margin-bottom: 22px;

    &--any-places {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;

        top: 2px;
        right: 0;
        background-image: url("../img/icon-sprite.png");
        background-position: -49px -10px;
      }
    }

    &:last-child {
    margin-bottom: 49px;
    }

    &::before {
      width: 16px;
      height: 13px;

      left: -30px;
      background-image: url("../img/icon-sprite.png");
      background-position: -225px -10px;
    }
  }

  // TOOLTIP ////////////////////////////////////////////////////////////////
  .promo-section__offers-tooltip {
    display: none;
    position: absolute;

    top: 30px;
    right: -205px;

    width: 234px;
    padding-top: 18px;
    padding-left: 15px;
    // padding-right: 8px;
    padding-bottom: 16px;
    border-radius: 2px;
    box-sizing: border-box;

    background-color: #ffffff;
    box-shadow: -5px 0px 7px 0px rgba(213, 213, 213, 0.73),
                5px 0px 7px 0px rgba(213, 213, 213, 0.73),
                0px -5px 7px 0px rgba(213, 213, 213, 0.73),
                0px 5px 7px 0px rgba(213, 213, 213, 0.73);
    z-index: 100;
  }

  .promo-section__tooltip-triangle {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    top: -97px;


    &::after {
      content: "";
      position: absolute;
      width: 180px;
      height: 80px;
      background: #fff;
      transform: rotate(35deg) scale(0.6);
      top: 85px;
      left: -75px;
      box-shadow: -5px 0px 17px 0px rgba(213, 213, 213, 0.73);
    }
  }

  .promo-section__tooltip-text-style {
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: #424242;
    margin: 0;
  }

  .promo-section__offers-item--any-places:hover >
  .promo-section__offers-tooltip {
    display: block;
  }

  /////////////////////////////////////////////////

  .promo-section__features-block {
    width: 62%;
  }

  .promo-section__feature {
    font-size: 16px;
    min-width: 144px;
    padding-top: 128px;

    &--airline::before {
      width: 80px;
      height: 61px;

      top: 49px;
      background-image: url("../img/desktop-airplane.png");
    }

    &--train::before {
      width: 54px;
      height: 64px;

      top: 48px;
      background-image: url("../img/desktop-train.png");
    }

    &--house::before {
      width: 71px;
      height: 66px;

      top: 45px;
      background-image: url("../img/desktop-house.png");
    }
  }

  .promo-section__feature-big-font {
    font-size: 32px;

    &--application {
      display: none;
    }

    &--site {
      display: inline-block;
    }
  }

  .promo-section__feature-hidden-on-mobile {
    display: block;
  }

  .promo-section__button {
    margin-top: 39px;
  }

  .promo-section__info-quote {
    width: 31.6%;
    margin-top: 38px;
    margin-left: 33.9%;
    margin-right: 34.5%;

    &::before {
      width: 15px;
      height: 15px;

      top: 0;
      left: -25px;
      background-image: url("../img/icon-sprite.png");
      background-position: -190px -10px;
    }
  }
}
